<!DOCTYPE html>
<html>
<head lang="ko">
	<title>jung min-ji's page</title>
	<link rel="stylesheet" type="text/css" href="/css/project.css">
   <link rel="stylesheet" type="text/css" href="/css/slick.css">
   <script src="/js/jquery-3.3.1.min.js"></script>
   <script src="/js/splitting.min.js"></script>
   <script src="/js/slick.min.js"></script>
	<script src="/js/project.js"></script>

</head>
<body>
	<div class="wrap">
	<!-- header -->
   <header>
      <div class="innerHeader">

           <h1 class="title"><a href="/">J.</a></h1>
           <ul class="gnb">
               <li><a href="#">About Me</a>
                   <ul class="inner">
                       <li><a href="/about_me"><span>about Me</span></a></li>
                     </ul>
                </li>
             
              <li><a href="#">Portfolio</a>
                  <ul class="inner">
                      <li><a href="/project"><span>project</span></a></li>
                      <li><a href="/contest"><span>contest</span></a></li>
                  </ul>
              </li>
 
              <li><a href="#">Review</a>
                  <ul class="inner">
                      <li><a href="/about_book"><span>about book</span></a></li>

                  </ul>
              </li>
            </ul>
      </div>
   </header>

   <!-- visual(contents 상단 코딩 이미지&이름) -->
   <section class="project">
   	<ul class="explanation">

         <!-- 귀농메이트 -->
         <li> 
            <div class="project7">
               <h1 class="title">귀농메이트</h1>
               <div class="slideBox">
                <ul class="slide">
                  <li><p class="img"><span><img src="/img/project7_1.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project7_2.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project7_3.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project7_4.png"></span></p></li>
                </ul>
               </div>
               
               <div class="introduceProject">
                  <div class="introduce1">
                    <div class="wrap-star"><h1 class="rating">난이도</h1><span class="start-rating"><span style="width: 60%"></span></span></div>
                     <h1 class="subtitle">기술 스택</h1>
                     <div class="techStack"><span id="stack">Android</span><span id="stack">Python</span>
                     <span id="stack">Firestore</span><span id="stack">GitHub</span><span id="stack">Figma</span></div>
                     
                  </div>
                  
                  <div class="introduce2">
                     <h1 class="subtitle">소개</h1> <span class="configuration">팀 프로젝트</span>
                     <div class="text">귀농과 귀촌 지역을 추천해주고 해당 지역 소개와 특산품, 문화, 농촌 체험을 제공하는 앱서비스입니다.
                     </div> 
                  </div>
               </div>

               <div class="implementationPart">
                  <h1 class="subtitle">구현</h1>
                   <div class="text" >
                     - figma와 zeplin을 통한 디자인<br>
                     - firebase authentication 사용하여 회원가입 및 로그인 구현<br>
                     - 사용자 맞춤 서비스 제공 위한 취향 분석-open api 이용해서 키워드 추출<br>
                     - 회원, 지역 데이터 firebase cloud firestore에 저장<br>
                     - 지역 추천 알고리즘 구현 - user-user collaborative filtering<br>
                     - 파이썬 서버와의 소켓통신<br>
                     현재 개발 중인 프로젝트입니다!
                  </div>
               </div>

               <div class="storage"><h1 class="subtitle">저장소 링크</h1><a href="https://github.com/mjjunng/Return-to-farming-mate">https://github.com/mjjunng/Return-to-farming-mate</a></div>     
            </div>
         </li>

         <!-- coview -->
         <li> 
            <div class="project6">
               <h1 class="title">COVIEW</h1>
               <div class="slideBox">
                <ul class="slide">
                  <li><p class="img"><span><img src="/img/project6_1.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project6_2.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project6_3.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project6_4.png"></span></p></li>
                </ul>
               </div>
               
               <div class="introduceProject">
                  <div class="introduce1">
                    <div class="wrap-star"><h1 class="rating">난이도</h1><span class="start-rating"><span style="width: 60%"></span></span></div>
                     <h1 class="subtitle">기술 스택</h1>
                     <div class="techStack"><span id="stack">Spring Boot</span><span id="stack">Spring Security</span>
                     <span id="stack">JPA</span><span id="stack">Thymeleaf</span><span id="stack">WebRTC</span></div>
                     
                  </div>
                  
                  <div class="introduce2">
                     <h1 class="subtitle">소개</h1> <span class="configuration">개인 프로젝트</span>
                     <div class="text">사용자와 회의 참여자의 화면을 동시에 공유할 수 있는 1:1 온라인 화상 회의 플랫폼입니다.
                     </div> 
                  </div>
               </div>

               <div class="implementationPart">
                  <h1 class="subtitle">구현</h1>
                   <div class="text">
                     - spring security를 이용한 회원가입, 로그인 구현<br>
                     - jpa를 통한 데이터 관리<br>
                     - bootstrap과 thymeleaf를 이용한 템플릿 구성<br>
                     - webrtc를 이용하여 비디오, 스크린 공유 개발<br>
                     이 프로젝트를 통해 mvc 패턴을 이해할 수 있었고, 테스트 케이스 작성의 중요성을 알게 되었습니다.
                  </div>
               </div>

               <div class="storage"><h1 class="subtitle">저장소 링크</h1><a href="https://github.com/mjjunng/coview">https://github.com/mjjunng/coview</a></div>     
            </div>
         </li>

         <!-- New facts -->
         <li> 
            <div class="project5">
               <h1 class="title">New Facts</h1>
               <div class="slideBox">
                <ul class="slide">
                  <li><p class="img"><span><img src="/img/project5_1.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project5_2.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project5_3.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project5_4.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project5_5.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project5_6.png"></span></p></li>
                </ul>
               </div>
               
               <div class="introduceProject">
                  <div class="introduce1">
                    <div class="wrap-star"><h1 class="rating">난이도</h1><span class="start-rating"><span style="width: 60%"></span></span></div>
                     <h1 class="subtitle">기술 스택</h1>
                     <div class="techStack"><span id="stack">Android</span><span id="stack">Google Maps API</span>
                     <span id="stack">Java</span><span id="stack">Adobe XD</span><span id="stack">Zeplin</span></div>
                     
                  </div>
                  
                  <div class="introduce2">
                     <h1 class="subtitle">소개</h1> <span class="configuration">팀 프로젝트</span>
                     <div class="text">사용자가 섭취한 메뉴의 영양 성분을 알고 주의하여 더욱 건강하게 즐길 수 있도록 하는 아이디어에서 출발했습니다. New Facts는 프랜차이즈 카페 메뉴에 대한 영양 성분을 제공합니다. 그리고 지병 또는 알레르기와 같은 사용자의 건강 정보를 반영해 식품을 필터링하고 사용자의 건강 정보에 맞게 메뉴를 추천합니다. 사용자의 건강 정보에 따라 개인마다 차이를 두어 건강관리를 돕는 것이 앱의 궁극적인 목표입니다.
                     </div> 
                  </div>
               </div>

               <div class="implementationPart">
                  <h1 class="subtitle">구현</h1>
                   <div class="text">
                  저는 근처 매장 정보를 제공하는 서비스 구현을 맡았습니다.
                  Google Maps SDK for Android API 라이브러리와 Places API를 통해 사용자의 현재 위치와 근처 카페의 위치를 구글 맵에 표시합니다. 
                  또한, Places API 를 통해 주변 카페 이름과 위도, 경도, 주소 정보를 받아옵나다. 받아온 위도와 경도를 통해 현재 위치와 근처 매장 간의 거리를 미터 단위로 계산하여 사용자에게 거리 정보를 제공합니다.
                  식품안전나라에서 식품접객업소 위생등급 지정현황 OPEN API를 통해 카페의 위생등급 데이터를 가져와서 사용자가 정보를 파악하기 쉽게 이미지로 표시합니다. 
                  사용자가 매장의 위생 현황을 쉽게 파악할 수 있도록 리스트뷰 좌측에 위치한 아이콘의 색을 통해 매장의 위생 등급을 사용자에게 알립니다.
                  </div>
               </div>

               <div class="hardPoint">
                  <h1 class="subtitle">어려웠던 점</h1>
                   <div class="text">
                  첫 번째로 API를 사용하는 방법이 명시되어 있지 않아 애를 먹었습니다. 각 기관마다 데이터를 제공하는 방법이 달라 구글링을 통해 정보를 얻기가 상당히 곤란했습니다. 그래서 데이터 관리자에게 열심히 메일을 보냈던 기억이 있습니다ㅎㅎ 
                  두 번째로는 서로 다른 API에서 정보를 받아와서 사용하기 때문에 발생한 문제점입니다. 처음에는 Places API를 통해 받아온 카페 이름을  open api의 url 요청 인자로 넣어  json형식으로 데이터를 받아 파싱하여 처리했지만,  동일한 카페임에도 불구하고  두 api가 제공하는 매장 이름에 약간의 차이가 있어 다른 카페라고 처리합니다. 예를 들어 스타벅스커피 현대디큐브 B2와 스타벅스 현대디큐브2F점은 동일한 매장이지만  이름이 완벽하게 같지 않아서  다른 카페라고 처리하기 때문에 해당 매장의 데이터를 불러올 수 없습니다. 이를 해결하기 위해  places api에서 받아온  카페의 주소를 파싱한 값이  open api가 제공하는 카페 주소에 포함 되어있는 지 체크하여 포함되어 있다면  동일한 매장으로 인식하는  알고리즘을 사용했습니다. 이 부분에 있어 후에 데이터 전처리 과정을 배워서 알고리즘을 추가해보고 싶습니다.
                   </div>
               </div>

               <div class="storage"><h1 class="subtitle">저장소 링크</h1><a href="https://github.com/Johyeyoung/2020FoodSafety_Nutrition-Facts">https://github.com/Johyeyoung/2020FoodSafety_Nutrition-Facts</a></div>     
            </div>
         </li>
         
         <!--snake game-->
         <li> 
            <div class="project4">
           
               <h1 class="title">Snake Game</h1>
               <div class="slideBox">
                <ul class="slide">
                  <li><p class="img"><span><img src="/img/project4_1.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project4_2.png"></span></p></li>
                </ul>
               </div>
               
               <div class="introduceProject">
                  <div class="introduce1">
                    <div class="wrap-star"><h1 class="rating">난이도</h1><span class="start-rating"><span style="width: 70%"></span></span></div>
                     <h1 class="subtitle">기술 스택</h1>
                     <div class="techStack"><span id="stack">C++</span><span id="stack">ncurses</span></div>
                  </div>
                  
                  <div class="introduce2">
                     <h1 class="subtitle">소개</h1> <span class="configuration">팀 프로젝트</span>
                     <div class="text">Ncurses와 C++을 기반으로 동작하는 snake game입니다. Snake를 키보드로 제어하여 먹이를 먹으면 몸의 길이가 1씩 증가하고 독을 먹으면 몸의 길이가 1씩 감소합니다. 몸의 길이가 3 이하이거나 snake가 벽에 닿으면 게임은 종료됩니다. 스테이지가 올라갈수록 map이 좁아지고 snake가 움직이는 속도가 빨라집니다.</div> 
                  </div>
               </div>

               <div class="implementationPart">
                  <h1 class="subtitle">구현</h1>
                   <div class="text">
                  Snake 표현 및 조작과 Item, poison 요소의 구현 부분을 맡았습니다. 
                  맵 위에 Snake를 표시하고 사용자의 방향키를 입력으로 받아 snake가 움직이도록 구현했습니다. Head 방향의 이동은 0.1초의 틱에 의해 움직이도록 하고 snake가 움직일 때 마다 위치 값을 배열에 저장하고 ncurses 라이브러리 함수 mvprintw를 통해 snake의 몸통을 화면에 나타냈습니다. 진행방향과 같은 방향키가 입력된다면 입력을 무시하고 진행방향과 정반대인 방향키를 입력하거나 snake가 벽에 충돌한 경우 게임을 종료합니다. 

                  맵 내부에 snake body가 아닌 랜덤 위치에 먹이와 독을 동시에 출현시킵니다. 이때 thread를 사용하여 전체적인 게임의 진행이 동시에 동작하도록 했습니다. 아이템의 출현은 5초가 지나면 사라지고 다시 랜덤한 위치에 나타냅니다. snake가 먹이를 획득한다면 꼬리부터 몸의 길이가 1 증가하고, 독을 먹는다면 꼬리부터 몸의 길이가 1감소합니다. 몸의 길이가 3보다 작아지면 게임을 종료합니다.
                  </div>
               </div>

               <div class="hardPoint">
                  <h1 class="subtitle">어려웠던 점</h1>
                   <div class="text">
                  처음 게임의 전체적인 로직을 구상했을 때 Ncurses 라이브러리를 처음 접하다 보니 사용자의 입력을 받아들이고 처리하는 부분에서 어려움을 느꼈습니다. 게임을 단계 별로 구현하며 구현 전 당연하게 생각했던 로직이 마음대로 작동되지 않는 경우가 많았습니다. 구현 도중 팀원에게 조언을 구하기도 하고 여러 로직을 시도해본 끝에 완성할 수 있었습니다. 직접 로직을 작성해보고 안되는 로직을 변경하는 작업을 반복하다 보니 ncurses와 c++의 전체적인 흐름에 대해 이해할 수 있었습니다.
                   </div>
               </div>

               <div class="storage"><h1 class="subtitle">저장소 링크</h1><a href="https://github.com/JungMin-ji/SnakeGameProject">https://github.com/JungMin-ji/SnakeGameProject</a></div>         
            </div>
         </li> 

         <!--강아지 찾기-->
         <li> 
            <div class="project3">
               <h1 class="title">강아지 찾기 게임</h1>
               <div class="slideBox">
                <ul class="slide">
                  <li><p class="img"><span><img src="/img/project3_1.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project3_2.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project3_3.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project3_4.png"></span></p></li>
                  <li><p class="img"><span><img src="/img/project3_5.png"></span></p></li>
                </ul>
               </div>
               
               <div class="introduceProject">
                  <div class="introduce1">
                    <div class="wrap-star"><h1 class="rating">난이도</h1><span class="start-rating"><span style="width: 10%"></span></span></div>
                     <h1 class="subtitle">기술 스택</h1>
                     <div class="techStack"><span id="stack">HTML5</span><span id="stack">CSS3</span><span id="stack">JavaScript</span></div>
                  </div>
                  
                  <div class="introduce2">
                     <h1 class="subtitle">소개</h1> <span class="configuration">개인 프로젝트</span>
                     <div class="text">제한 시간 내에 숨어있는 강아지를 찾는 게임입니다. 처음 강아지가 있는 곳을 사용자에게 보여주고 사용자는 위치를 기억하여 강아지가 숨어 있는 위치의 알을 클릭합니다. 제한 시간 내에 숨어있는 강아지를 모두 찾는다면 게임 클리어!</div> 
                  </div>
               </div>

               <div class="implementationPart">
                  <h1 class="subtitle">구현</h1>
                   <div class="text">
                  처음 진행한 웹 프로젝트인 만큼 다소 단순한 프로젝트이지만 이 프로젝트를 수행하며 웹의 동작 원리와 HTML과 CSS, javascript의 기초 지식과 동작 원리를 이해할 수 있었습니다. 간단한 게임이지만 그동안 배운 지식을 되도록 많이 적용하고 싶어 여러 기능을 추가했습니다. 첫 번째로 클릭하려는 이미지에 마우스를 올려놓을 시 가상 셀렉터를 사용해 이미지의 투명도를 증가하게 만들어 다른 이미지와 구분했습니다. 두 번째로 game over 메시지 이외에 게임을 제한 시간 내에 완료했다면 game clear라는 텍스트를 화면에 띄웠습니다. 세 번째로 게임이 종료될 시 나타나는 game over와 game clear 텍스트에 애니메이션을 추가했습니다. 마지막으로 이미지 클릭 시와 게임을 완료 시에 효과음을 넣었습니다.
                  향후 좀 더 액티브한 페이지를 구현해보고 싶은 생각이 있어 CSS와 javascript,  jQuery를 공부하고 있습니다.
                  </div>
               </div>

               <div class="storage"><h1 class="subtitle">저장소 링크</h1><a href="https://github.com/JungMin-ji/Kookmin-LectureMaterials/tree/master/웹클라이언트컴퓨팅/Project">https://github.com/JungMin-ji/Kookmin-LectureMaterials/tree/master/웹클라이언트컴퓨팅/Project</a></div>         
            </div>
         </li> 

         <!--our score-->
         <li>
            <div class="project2">
            <h1 class="title">Our score</h1>
            <div class="videoBox" >
               <iframe width="400" height="300" src="https://www.youtube.com/embed/TQg4IeGkeS8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                   
               <!-- <p class="mask"><span><img src="img/video1.jpg" alt=""></span></p> -->
            </div>
            
            <div class="introduceProject">
               <div class="introduce1">
                <div class="wrap-star"><h1 class="rating">난이도</h1><span class="start-rating"><span style="width: 40%"></span></span></div>
                  <h1 class="subtitle">기술 스택</h1>
                  <div class="techStack"><span id="stack">Python</span><span id="stack">PyQt</span></div>
               </div>
               
               <div class="introduce2">
                  <h1 class="subtitle">소개</h1> <span class="configuration">팀 프로젝트</span>
                  <div class="text">주 사용자층을 학생, 교수님, 선생님, 입학 상담사등 친숙한 직업군을 타깃으로 설정했습니다. 이들은 모두 학생들의 성적을 다루는 일을 합니다. 따라서 학생들의 성적을 이용한 프로그램을 만들면 우리에게 가장 가까운 사람들에게 도움을 줄 것이라 생각하고 이 프로그램을 만들었습니다. 목적은 학생의 성적 분포를 한 눈에 보기 쉽게 하기 위해 만들었습니다. </div> 
               </div>
            </div>

            <div class="implementationPart">
               <h1 class="subtitle">구현</h1>
                <div class="text">
               점수 데이터를 처리하는 부분과 전체적인 UI 구성을 맡았습니다. 사용자가 점수를 입력하면 과목과 분반 별로 텍스트 파일에 저장했습니다. 사용자가 입력할 때 마다 텍스트 파일에 저장된 점수를 갱신했습니다. 또한, 저장된 점수 데이터를 기반으로 통계를 내어 평균과 분산을 계산했습니다.</div>
            </div>

            <div class="storage"><h1 class="subtitle">저장소 링크</h1><a href="https://github.com/JungMin-ji/SW2Project">https://github.com/JungMin-ji/SW2Project</a></div>
            </div>
         </li>

         <!--xycar-->
         <li> 
            <div class="project1">
               <h1 class="title">Xycar를 이용한 자율주행</h1>
               <div class="videoBox" >
                  <iframe width="400" height="300" src="https://www.youtube.com/embed/CZpfv65pE2Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
                  <!-- <p class="mask"><span><img src="img/video1.jpg" alt=""></span></p> -->
               </div>
               
               <div class="introduceProject">
                  <div class="introduce1">
                    <div class="wrap-star"><h1 class="rating">난이도</h1><span class="start-rating"><span style="width: 100%"></span></span></div>
                     <h1 class="subtitle">기술 스택</h1>
                     <div class="techStack"><span id="stack">Python</span><span id="stack">Ros</span>
                     <span id="stack">OpenCV</span></div>
                  </div>
                  
                  <div class="introduce2">
                     <h1 class="subtitle">소개</h1> <span class="configuration">팀 프로젝트</span>
                     <div class="text">Ros를 기반으로 카메라, 초음파 센서를 이용하여 차선을 인식하는 자율주행 알고리즘입니다. 
                     </div> 
                  </div>
               </div>

               <div class="implementationPart">
                  <h1 class="subtitle">구현</h1>
                   <div class="text">
                  팀원 다 같이 차선 인식 알고리즘을 구현했고, 신호등 감지 부분을 맡아 구현했습니다. 
                  차선 인식은 적절한 범위를 설정하여 canny와 mask를 이용해 노이즈를 최소화하여 차선의 위치를 파악합니다. 검출된 차선에서 일정한 간격을 유지하여 차가 차선을 이탈하지 않도록 합니다. 
                  빨간 원을 카메라가 인식하면 xycar를 멈추게 하고, 초록 원을 인식하면 다시 움직입니다. 카메라가 인식한 영역 중 중심부를 기준으로 BGR에서 R값에 threshold값을 주어 그 이상이라면 빨간색이라고 인식하여 속도롤 90으로 지정합니다. 마찬가지로 초록색도 검증합니다. 이때, 다른 팀원이 구현한 표지판을 인식해서 xycar가 멈추면 안되므로 맨 처음 G와 R값이 155이상일 때는 pass합니다.

                  </div>
               </div>

               <div class="hardPoint">
                  <h1 class="subtitle">어려웠던 점</h1>
                   <div class="text">
                  임베디드 분야를 다뤄보며 힘든 점이 정말 많았습니다… 사소한 외부적인 환경의 변화에 민감하게 반응할 때 마다 알고리즘을 고쳐야 했고 디버깅하는 과정도 만만치 않았습니다. 특히 사소한 숫자의 변화로 방향이 달라지고 디버깅할 시간조차 주지 않고 달려 나가는 xycar로 인해 고생을 참 많이 했습니다.. 옆에서 같이 고생하는 팀원들이 있었기에 이 프로젝트를 잘 마무리할 수 있었습니다. 임베디드 분야에 도전해보며 많은 시행착오도 있었지만, 그 과정 속에서 오류를 극복하는 방법, 코드를 구현하기 전 여러 상황을 고려하여 설계해야 하는 과정을 거쳐야 한다는 점 등 많은 것을 배울 수 있었습니다. 
                   </div>
               </div>

               <div class="storage"><h1 class="subtitle">저장소 링크</h1><a href="https://github.com/jeongahn/AD-project">https://github.com/jeongahn/AD-project</a></div>     
            </div>
         </li>
    </ul>
  </section>

  <footer>
    <ul>
      <li>phone: 010-3066-2910</li>
      <li>email: mjjung@kookmin.ac.kr</li>
    </ul>
    <p>COPYRIGHT 2020</p>
  </footer>
</div>

</body>
</html>