<!DOCTYPE html>
<html>
<head lang="ko">
	<title>jung min-ji's page</title>
	<link rel="stylesheet" type="text/css" href="/css/about_me.css">
	<link rel="stylesheet" type="text/css" href="/css/slick.css">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/aboutMe.js"></script>
	<script src="/js/splitting.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/parallax.min.js"></script>
</head>
<body>
	<div class="wrap">
	<!-- header -->
   <header>
      <div class="innerHeader">

           <h1 class="title"><a href="/">J.</a></h1>
           <ul class="gnb">
               <li><a href="#">About Me</a>
                   <ul class="inner">
                       <li><a href="/about_me"><span>about Me</span></a></li>
                     </ul>
                </li>
             
              <li><a href="#">Portfolio</a>
                  <ul class="inner">
                      <li><a href="/project"><span>project</span></a></li>
                      <li><a href="/contest"><span>contest</span></a></li>
                  </ul>
              </li>
 
              <li><a href="#">Review</a>
                  <ul class="inner">
                      <li><a href="/about_book"><span>about book</span></a></li>

                  </ul>
              </li>
            </ul>
      </div>
   </header>

   <section class="contents">
   	<div class="greeting">
   		<div class="parllax-1">
   			<div class="parallax-window" data-parallax="scroll" data-image-src="/img/student.jpg"></div>
   		</div>
   		<div class="text"><p>HELLO WORLD!</p><p>I HOPE YOU ENJOY:)</p></div>
   	</div>
   	<div class="introduce">
   		<div class="brief">
   			<div class="img"><img src="/img/myimg.png" alt="" width="249px" height="265px"></div>
   			<h1>JUNG MINJI</h1>
   			<ul>
   				<li>Kookmin University 2019</li>
   				<li>computer science</li>
   				<li>stack : spring boot, android, github, python, c++</li>
   			</ul>
   			<div class="link"><a href="https://github.com/mjjunng"><img src="/img/git.png" width="30"></a><a href="https://blog.naver.com/mjjunghp"><img src="/img/blog.png" width="30"></a><a href="https://www.acmicpc.net/user/mjjung"><img src="/img/baekjoon.png" width="38"></a><a href="https://leetcode.com/JungMin-ji/"><img src="/img/leetcode.png" width="28"></a></div>
   		</div>
   		<div class="text">
            국민대학교 소프트웨어학부 소프트웨어전공 4학년 정민지입니다. 항상 배우려는 자세를 가지고, 배운 것을 흔적으로 남기려 노력합니다. 새로운 개념이나 기술 스택을 공부하면 기술 스택을 이용하여 프로젝트를 만들거나, 개념을 정리하여 Git TIL에 남깁니다. 또한, 팀 프로젝트를 진행할 때는 제 의견을 적극적으로 전달하고, 팀원과의 소통을 중요시하여 다른 팀원의 의견을 귀 기울여 듣는 일을 중요하게 여깁니다. 처음 프로젝트를 진행했을 당시 다른 팀원들에게 도움이 되는 팀원이 되자는 목표를 가지고 열심히 참여했습니다. 실력이 부족할지라도 먼저 아이디어를 제안하고 의견을 제시하며 점차 적극적으로 프로젝트에 참여하는 저의 모습을 볼 수 있었습니다. 이 경험을 토대로 공모전에 출품해보기도 하고, 또 다른 프로젝트에 참여해보며 개발의 즐거움을 느끼게 되었습니다. 재미있게 개발하는 것이 저의 지향점입니다. 현재 토이 프로젝트로 안드로이드 개발을 진행하고 있습니다. 또한, 백엔드 분야(스프링 부트)를 공부하고 있고, 스프링 부트와 JPA를 이용하여 프로젝트를 진행한 경험이 있습니다. 스프링을 공부해보며, 흥미를 느끼게 되어 백앤드 분야로 진로를 계획하고 있습니다.   
   		</div>
   		
   	</div>
   </section>

   
   <footer>
   	<ul>
   		<li>phone: 010-3066-2910</li>
   		<li>email: mjjung@kookmin.ac.kr</li>
   	</ul>
   	<p>COPYRIGHT 2020</p>
   </footer>
	</div>
</body>
</html>